<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project</title>
    <style type="text/css">
        .my-chart-container {
          max-width: 100%;
          max-height: 100%;
        }
      </style>
<!--     
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <svg width="960" height="500"></svg>
     <script src="//d3js.org/d3.v4.min.js"></script> -->
</head>
<body>
        
            <h3>Case.3 stacked vertical bar</h1>
            <div class="my-chart-container">
              <canvas id="my-chart-3" width="600" height="300"></canvas>
            </div>

    <script type="text/javascript" src="https://npmcdn.com/chart.js@latest/dist/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='barsetup.js') }}"></script>
    <script type="text/javascript">

var datadct = JSON.parse('{{ datadct|tojson|safe }}');

const chart = new Chart(document.getElementById("my-chart-3"), {
  type: "bar",
  data: datadct,
  options: {
    tooltips: {
      backgroundColor: "rgba(27,27,27,0.4)",
      cornerRadius: 12,
      bodyFontSize: 14,
      borderWidth: 5,
      borderColor: "rgba(27,27,27,0.7)"
    },
    scales: {
      xAxes: [{
        barPercentage: 1,
        categoryPercentage: .97
        
      }]
    },
    legend: {
      boxWidth: 20,
      position: 'right'
    },
    plugins: {
      stacked100: { enable: true }
    }
  }
});

    </script>
</body>
</html>
